.destinationcard {
  width: 20vw;
  padding: 10px;
  border-width: 1px;
}

.destinationShownDiv {
  text-align: center;
}

/* .newDestinationForm {
  float: left;
} */

.destinationCards {
  width: 20vw;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

/* .container {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
} */

/* .item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 50px;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 3;
} */
